 <div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Provo High School - Five Sushi Brothers - Z-Ultimate Self Defense Studios - Learning programmer</p>
  </div>
  
  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
    <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>
  
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/vald3z"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.facebook.com/vald3z.cat"><%= fa_icon "facebook" %></a></li>
      <li><a href="https://www.instagram.com/catalina_val/"><%= fa_icon "instagram" %></a></li>
    </ol>
  </div>
</div>