<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Welcome to my Portfolio </h1>
      <p class="lead text-muted">Here you'll find photos to accompany you as you read. Yerr welcome</p>
      <p>
        <%= link_to 'More About Me', about_me_path, class: 'btn btn-info' %>
        <%= link_to 'My Blog', blogs_path, class: 'btn btn-secondary' %>
      </p>
    </div>
  </section>