<div class="app-card-container">
  <div class="card">
       <h1>About Me</h1>
   
   <div class="row">
     <div class="col-md-5">
     <%= image_tag "Catalina.jpg", width: 350, alt: "Profile image" %> 
     
     <div class="skills">
       <% @skills.each do |skill| %>
       <h4><%= skill.title %></h4>
       <div class="progress">
         <div 
         class="progress-bar progress-bar-striped bg-warning"
         role="progressbar"
         aria-valuenow="<%= skill.percent_utilized %>"
         aria-valuemax="100"
         style="width: <%= skill.percent_utilized %>%"
         ></div>
         </div>
       <% end %>
      </div>
     </div>
     
     <div class="col-md-7">
       <p>I'm new to programming, but I'm learning quickly and my interest continues to grow. I'm currently learning Ruby on Rails. I also have some experience with HTML and CSS. I'm studying for my black belt test in September, and I'm a Senior at Provo High School. I work as a secretary at a late-night sushi delivery restaurant called Five Sushi Brothers. My interests include programming, reading, cooking, music, history, ASL, gaming, and writing.</p>
     
       <p>
          <button
            class="btn btn-info"
            type="button"
            data-toggle="collapse"
            data-target="#workHistory"
            aria-expanded="false"
            aria-controler="workHistory"
          >
            Work Experience
          </button>

          <button
            class="btn btn-info"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="workHistory">
            <div class="card card-block">
              <h5>Seven Peaks Waterpark</h5>
              <div>May 2015 - September 2015</div>
              <div>Guest Interactions</div>
              <div>Provo, UT</div>
              </div>
            <div class="card card-block">
              <h5>Five Guys Burgers and Fries</h5>
              <div>November 2015 - November 2016</div>
              <div>Crew Member</div>
              <div>American Fork, UT</div>
            </div>
            <div class="card card-block">
              <h5>Five Sushi Brothers</h5>
               <div>December 2016 - Present</div>
              <div>Secretary</div>
              <div>Provo, UT</div>
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              <h5>Provo High School</h5>
              <div>Senior</div>
              <div>3.992 Overall GPA</div>
            </div>
            <div class="card card-block">
              <h5>Code to Success</h5> 
              <div>Summer 2017 Graduate</div>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
