<h1>Contact Information</h1>

<p> </p>
<h3>School Address</h3>

    <p>1125 North University Avenue, Provo, UT 84601</p>
 
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3045.2489164726417!2d-111.66173558419136!3d40.24799907938526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d90a42e26ab77%3A0xbfba90295a57a70!2sProvo+High+School!5e0!3m2!1sen!2sus!4v1499869467213" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

<hr>
   
    <h3>Phone</h3>

    <p><%= number_to_phone "8013107219" %></p>

    <h3>Email</h3>

    <p><a href="mailto:vald3z.cat@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
 
